@font-face {
    font-family: 'Avenir Book';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Book'), url('/assets/fonts/AvenirLTStd-Book.otf') format('otf');
}


@font-face {
    font-family: 'Avenir Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Medium'), url('/assets/fonts/AvenirLTStd-Medium.otf') format('otf');
}


@font-face {
    font-family: 'Avenir Roman';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Roman'), url('/assets/fonts/AvenirLTStd-Roman.otf') format('otf');
}