@font-face {
    font-family: 'Avenir Book';
    font-style: normal;
    font-weight: normal;
    src: url('~@/assets/fonts/AvenirLTStd-Book.otf');
}


@font-face {
    font-family: 'Avenir Medium';
    font-style: normal;
    font-weight: normal;
    src: url('~@/assets/fonts/AvenirLTStd-Medium.otf');
}


@font-face {
    font-family: 'Avenir Roman';
    font-style: normal;
    font-weight: normal;
    src: url('~@/assets/fonts/AvenirLTStd-Roman.otf');
}