@import url('home.css');
@import url('navbar.css');
@import url('footer.css');
@import url('../fonts/fonts.css');

#app {
    font-family: 'Avenir Book', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 0;
    background-color: #F5F5F5;
}

#app .button.is-primary {
    background-color: #0e0e52;
}

#app a:hover, 
#app a:focus,
#app a:active {
    color: #449dd1;
}